// This line starts waybar, a commonly used bar for Wayland compositors.
// spawn-at-startup "waybar"
// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

// spawn-at-startup "~/.local/bin/start-pipewire"
spawn-sh-at-startup "$(whereis -b xdg-desktop-portal | awk '{print $2}') -r &"
spawn-sh-at-startup "$(whereis -b xdg-desktop-portal-wlr | awk '{print $2}') -r &"
spawn-sh-at-startup "$(whereis -b xdg-desktop-portal-gtk | awk '{print $2}') -r &"
spawn-sh-at-startup "noctalia"
// spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "/usr/libexec/polkit-mate-authentication-agent-1"
spawn-sh-at-startup "gnome-keyring-daemon --start --components=pkcs11,secrets,ssh"
spawn-sh-at-startup "command -v dex-autostart >/dev/null && exec dex-autostart --autostart || exec dex --autostart"
