# - ----- -
# - Rules -
# - ----- -

# Sticky windows
for_window {
    [app_id="^dragon$"] sticky enable
}

# Floating windows
for_window {
    [window_role="pop-up"] floating enable
    [window_role="bubble"] floating enable
    [window_role="dialog"] floating enable
    [window_type="dialog"] floating enable
    [app_id="floating"] floating enable
    [app_id="floating_update"] floating enable
    [app_id="galculator"] floating enable
    [app_id="pavucontrol"] floating enable
    [app_id="zenity"] floating enable
    [app_id="yad"] floating enable
    [app_id="blueberry"] floating enable
    [app_id="blueman"] floating enable
    [class="Blueman-manager"] floating enable
    # PiP - See: https://github.com/swaywm/sway/issues/3095
    [app_id="firefox" title="Picture-in-Picture"] floating enable
    [title=".* is sharing your screen."] floating enable
    [app_id="firefox" title="Firefox — Sharing Indicator"] floating enable
    [class="steam" title="Friends List"] floating enable
    [title="^Open File$"] floating enable
    [app_id="Bitwarden"] floating enable
    [title="^Bitwarden$"] floating enable
    [app_id = "chrome-*"] floating enable
    [title = "^Extension: .*"] floating enable
}

# Dialogs
set $handle_dialog floating enable, move container to workspace current
for_window {
    [window_type="dialog"] $handle_dialog;
    [window_type="utility"] $handle_dialog;
    [window_type="toolbar"] $handle_dialog;
    [window_type="splash"] $handle_dialog;
    [window_type="menu"] $handle_dialog;
    [window_type="dropdown_menu"] $handle_dialog;
    [window_type="popup_menu"] $handle_dialog;
    [window_type="tooltip"] $handle_dialog;
    [window_type="notification"] $handle_dialog;
    [window_role="pop-up,task_dialog,About"] $handle_dialog;
    [title="(?:Open|Save) (?:File|Folder|As)"] $handle_dialog
    [app_id="pop-up,task_dialog,About"] $handle_dialog;
    [app_id="zenity"] $handle_dialog
    [app_id="soffice" title="Document Recovery$"] $handle_dialog
    [title=".*Extension.*"] $handle_dialog
    [title = "^Extension: .*"] $handle_dialog
}

# Inhibit screensaver
for_window {
    [class=".*"] inhibit_idle fullscreen
}

# Popup during fullscreen
# This refers to a popup that is a child of the fullscreen window.
# Other unrelated popups will not trigger this.
# popup_during_fullscreen leave_fullscreen

# Mouse rules
focus_follows_mouse yes

# vim:set ft=conf:
