@theme "/dev/null"

* {
  background-color: @background;
  text-color: @foreground;
  background: #242424;
  foreground: #E2E2E2;
}

window {
  location: center;
  width: 300;
  spacing: 0;
  children: [ box ];
  background-color: @background;
  text-color: @foreground;
  border-radius: 0px;
}

box {
  padding: 0.5em;
  spacing: 0.2em;
  children: [ entry, listview ];
}

entry {
  placeholder: "Search";
  placeholder-color: #60606050;
  padding: 0.2em;
  expand: false;
}

element {
  text-color: #60606050;
  padding: 7px;
}

element selected {
  text-color: @foreground;
}

element-text, element-icon {
  background-color: inherit;
  text-color: inherit;
}

listview {
  lines: 12;    
}

listview, element, element selected, element-text, element-icon {
  cursor: pointer;
}
