@theme "/dev/null"

* {
  background-color: @background;
  text-color: @foreground;
  background: #101012;
  foreground: #F8F8F6;
}

window {
  location: center;
  width: 370;
  spacing: 0;
  background-color: @background;
  text-color: @foreground;
  border-radius: 4px;
  padding: 8px;
  spacing: 5px;
}

inputbar {
    children: [ prompt, entry ];
    padding: 6px;
}

prompt {
    enabled: true;
    vertical-align: 0.5;
    padding: 5px;
}

entry {
    placeholder-color: #60606080;
    padding: 5px;
    vertical-align: 0.5;
}

element {
  text-color: #80808080;
  padding: 7px;
}

element selected {
  text-color: @foreground;
}

element-text, element-icon {
  background-color: inherit;
  text-color: inherit;
}

listview {
  lines: 12;
  dynamic: true;
  fixed-height: false;
}

listview, element, element selected, element-text, element-icon {
  cursor: pointer;
}
