@import "color.css";

* {
    border: none;
    border-radius: 0;
    font-family: "sans", "sans-serif", "monospace", "Symbols Nerd Font";
    font-size: 12px;
    min-height: 0;
    margin-left: 2px;
    margin-right: 3px; 
}

window#waybar {
    border-radius: 0px;
    background: @bg;
    color: @fg;
}

tooltip {
    background: @bg;
    border-radius: 0px;
}

#workspaces button {
    padding: 0px;
    margin-left: 2px;
    margin-right: 1px;
    color: @bg2;
    background: transparent;
}

#workspaces button.focused {
    background: transparent;
    color: @fg;
}

#workspaces button.urgent {
    color: @red;
    background: transparent;
}

#workspaces button:hover {
    background: transparent;
    color: @gray;
    box-shadow: inherit;
    text-shadow: inherit;
}

#window
#custom-media
{
    padding: 0px;
}

#taskbar button {
    padding: 4px;
}

#taskbar button.active {
    background: rgba(255, 255, 255, 0.1);
}

#custom-menu,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#backlight
{
    padding: 0px 2px;
}
